.search-field *, .sidebar-item, .search-result-item--label {
    color: #E7ECE9 !important;
}

.sidebar-subheading *, .search-result-item {
    color: #E7ECE9;
}

a.sidebar-item > svg {
    color: #03d47c;
}

a.sidebar-item[data-selected="true"], a.sidebar-item[data-selected="true"]:focus, a.sidebar-item[data-selected="true"]:hover {
    background: #1A3D32;
}

.search-result-item--label span {
    color: #E7ECE9aa !important;
}

#panel-tab-content :is(input:checked ~ span:last-of-type, input:not(:checked) ~ span:first-of-type) {
    background: #03D47C;
    color: #E7ECE9;
}

.sidebar-container {
    background: #07271f;
}
