.status-bar {
    position: sticky;
    background-color: #fafafa;

    left: 0;
    right: 0;
    /* Use the environment variable for the top anchoring with a fallback. */
    top: env(titlebar-area-y, 0);
    border-bottom: 1px solid #ececec;
}

.status-bar-content {
    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;
    /* Use the environment variable for the left anchoring with a fallback. */
    left: env(titlebar-area-x, 0);
    /* Use the environment variable for setting the width with a fallback. */
    width: env(titlebar-area-width, 100%);
    /* Use the environment variable for setting the height with a fallback. */
    height:env(titlebar-area-height, 32px);
}
