/**
 * Using a .css file is a special case here, because it's impossible to target
 * pseudo-elements from js code (e.g. ::-webkit)
 * It also helps in cases like using the Datepicker in Storybook - the styles are imported
 * with the component
 */

.expensify-datepicker::-webkit-calendar-picker-indicator {
    color-scheme: dark;
    cursor: pointer;
    padding: 18px 13px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.expensify-datepicker::-webkit-date-and-time-value {
    text-align: left;
}
