/**
 * Rename this file to `.env` and put your local config in here
 */
EXPENSIFY_SITE_ROOT=https://www.expensify.com.dev/
EXPENSIFY_PARTNER_NAME=android
EXPENSIFY_PARTNER_PASSWORD=c3a9ac418ea3f152aae2
PUSHER_APP_KEY=ac6d22b891daae55283a
NGROK_URL=https://expensify-user.ngrok.io/
USE_NGROK=false
