!.storybook
!.github
.github/actions/**/index.js
*.config.js
**/.eslintrc.js
**/.eslintrc.changed.js
**/node_modules/**
**/dist/**
android/**/build/**
docs/vendor/**
docs/assets/**
web/gtm.js
**/.expo/**
src/libs/SearchParser/searchParser.js
src/libs/SearchParser/autocompleteParser.js
help/_scripts/**
Mobile-Expensify/**
vendor

# 🛑 Ignore heavy or problematic files
src/NAICS.ts
src/NAVIGATORS.js
src/SCREENS.js
src/TIMEZONES.js
assets/emojis/**
config/proxyConfig.js
src/components/Icon/DefaultAvatars.js
src/components/ButtonWithDropdownMenu/types.js
src/components/Form/types.js
