!.storybook
!.github
.github/actions/**/index.js
*.config.js
**/.eslintrc.js
**/.eslintrc.changed.js
**/node_modules/**
**/dist/**
android/**/build/**
docs/vendor/**
docs/assets/**
web/gtm.js
**/.expo/**
src/libs/SearchParser/searchParser.js
src/libs/SearchParser/autocompleteParser.js
help/_scripts/**
Mobile-Expensify/**
vendor

# Ignore emoji and legacy config files with CommonJS/bundled output
assets/emojis/**
config/proxyConfig.js
src/NAVIGATORS.js
src/SCREENS.js
src/TIMEZONES.js
src/components/Icon/DefaultAvatars.js
