!.storybook
!.github
.github/actions/**/index.js
*.config.js
**/.eslintrc.js
**/.eslintrc.changed.js
**/node_modules/**
**/dist/**
android/**/build/**
docs/vendor/**
docs/assets/**
web/gtm.js
**/.expo/**
src/libs/SearchParser/searchParser.js
help/_scripts/**
