# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.cer
*.p12
*.mobileprovision
ios-fastlane-json-key.json

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# Vscode
.vscode

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
dist/

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore
android/app/android-fastlane-json-key.json

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/

# Local DEV config
/.env

[commit]
    gpgsign = true
[user]
    email = ahmedahtazaz@gmail.com
    name = Ahtazaz Ahmed Khan
    signingkey = -----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBGBfFzMBEACyBwJDktMLEMlsMo3Iz29YXpnzP8cMneAEBMpGYjC0qME6IGxB
QsDYS6RlXOyHPkOoJaO+hql2UiecKt4gZQI0yuMKpiQQ7DftHuIAY9O5+bU+3pqC
rZ1pAF15flEZ5sK1d94qFag2uA8hJf6of2pF1hqBcfgpbPWdmLu5spDfPOdiKeBE
hNxnDhskhxpAi8/u7iGDcRFZPmLleMP6Kwvd9v7sz/8m0ZWLzQWsCxYFTuXJyD2p
yzyeQaxaf2LXnr2mu0oHOfFEOAgCy0lWj+uyZfNPf9cWO1g25cZPiDzpqztK0HZa
jJFjB1tNYOVlDFxSX2A8e1RPCsVoX8xPSUDr+/TpgevgVdsgRkK6JMPPOBi3M3lL
egD35jDofT1DV6j6NyLjLaf5i/MUr0HqWMjaJl8kk5zeCtVvViBWrplwQCeTEGEC
i2LOIJ+ikYnVeOQgJZLJMudAkev8iRm9gP8DsBynPhmyD3rk70Kfn8mMruH+d5AX
dgcB5L/ik+GmPthiG+kHmTIgUVrj44KVaKC6twfHXAoIF13yW96OgZ56PIwoSjCY
Ui0aQPZv4EZ0MfJBtXCquF4XqtUsluSygBuv5CnNTnS04s7d7w98Jj7VR/xWC0qa
qDOqLBE1vc4t6EheEze8ILrmElPxW2QLyu4zxvL0+Q+vKXDrLo+/fEN1iQARAQAB
tFZBaHRhemF6IEFobWVkIEtoYW4gKEdQRyBrZXkgZm9yIHNpZ25pbmcgZ2l0IGNv
bW1pdHMgZm9yIFhhYmkpIDxhaG1lZGFodGF6YXpAZ21haWwuY29tPokCVAQTAQgA
PhYhBKJjllter+bEAcy4Kdo8L+sQVY5QBQJgXxczAhsDBQkSzAMABQsJCAcCBhUK
CQgLAgQWAgMBAh4BAheAAAoJENo8L+sQVY5QyLcQAJ3OGWcHlzT6xmJLRrt494jg
vMRuZWDl4yz590UL1OmD7BJqlX07bNJPOR4W/UgszfItWT9jsnnxYe1o9Mqiiwot
DBh4E/+TyFJyMgBM9jS95Qy5UdhJqFdgv7xPQZBPxwpIINwKWhctNkIEt3RRYbhH
voIXV8jojnfdf3aPOwwmqQecMpIur7ME21jyVmzo7WVC4NICMHQWawCaXQl0cBBB
3c3sSyNSk3FWMniOaAabSb+YRVJ01pXXra3jQKyPxX3JqGCk4WqTQED/7SbMNi+Q
RnE75xoZzz7qyZPmIlHRnUd9VjToY293yFY70MDldi3gb/RCX2N1Lojfo3Pn44MH
W0f2whxrgvK6lSDHh73+35ll/EMvy41YvMJJoVqexoJaYZGu8FUfUFXWCERqEa4V
Qmpe/JH+KAx4KzUMcIg0mHW6VoIIR/oRehzAXlJlbXttQVkH0trlVIBt8mBFe0V/
+mWfjylQmyTFjZ+AUfET8e+rR5bvPeycibwGxRjHnpb9aPvw6VWYiAE944DgAJZa
bDj3wIq0p/LDFJu20r6O3Ngp+mRmajiaV4T2wH3ItzPupgsCf1WFM50opVdRJNzg
w8GZDR4E5oT7XQZKlAipP5duQ60FcKBlbsvNxUiLHm5aCwc6u0i0qA276PgHe6M/
HmjsxxploASOSInhwyVxuQINBGBfFzMBEADivsHIKL07EOGk4sdtl08oFou+YFOq
h9sc0kjo6HEulsUOAqaSIFL4pP5AYfKbyTiOKp3Ui2baTEO14AgwS5JqYI+g8k+b
ko7d5OdlQW+YJgJGB5u0HHnDondvlIzFDrep+LNQ2Z+YcTZ4NdO/lxiG1lsbJgZ9
f6YNYv5aWBAifWEmY/b6WeU43VuS0S+obyzwXGrT4+ZeGi4mGQFsMTqwE9KmpJ7a
15l6IF6M1DL3eF294oBy33dvP9VXEAKSeAYqrWcQaL6TReRZh2uHAqRDOEFrt8ui
71M0bv7c2XsF+6quv5m5wSvi4wvLf8M3FEJwz79q6HSzGX67/N3unbCSB2F+9Cqg
m/HTV+bywz3QGvNg6BINV7gLZ1HS1fmkj2PF9huCEca3dcErg3KzJRfxNwngGAyB
hTDDfZLz6PtphwVEQnlWNtRrAG7MEHG18oiy7famy2XaojBbMUvHzBdeAKKeStsx
ZjmwVgtJ6VS9GqI+tJoFvhNLHAHQhj5dbkx37Oa0CqsN+IeETQhIdsf5ZKUALmLz
wP/J4+UoyHL+ajYHu6p/SZs4W4lF2FmJ1WwgHZMrgGQPT325qN51GrDQP0JEe34u
HL5FL5+VDR1inYfiPzOIh+AvFO09kqJs28J37n+JgBDaFulc+FF9c1IhE0TDGGqD
kyOh35oryqw2qQARAQABiQI8BBgBCAAmFiEEomOWW16v5sQBzLgp2jwv6xBVjlAF
AmBfFzMCGwwFCRLMAwAACgkQ2jwv6xBVjlAgGQ/9G6USJfrCntSUvTRLVD7yaW2Y
WeQ9eABETfilDDtXEESkaHI8u+PaQ0QQ2OiEHN5U9CgUIxDuTrXq1H+z+YtuQyj0
8JXhioeQ+D8cTZvUP3h7QLk+YLo3RxUOVEWB1dYyfZmNxd9zqntQGg4q47Yr369H
fAVj2kdGDFP9lllYIsunRQqLPsLe5j1HmQURk7VxGjPpnzPmN5lphAxE0qADxUd2
Lys14AMQulxeHgkIofzlCxGdqxTuSsv7WDJlazSgz61FYVV/1lVpcbfVYrPuefjT
KiSN+ekgwKUEekLCRW6I0qGtcoQuYFrKcTD5ebwzLPuEQ8dfy6/YolCkMpPBLlYT
nTDp5H/SYhq0MWjJz7BYeVMbQ5jjKX8TIjvi4rGpbtTI35JbJVYalVLwlyM4DvmN
ATzVLhMrU0lK85GfBC6bs6XLpx9Qa/ox1ig7jwN3MLanglv2QmBb1C8OymF8fUS8
H91TdSKgJoMa08ZC4p2sI9QBzBNvD54SRatJj8afmBsJH1ISnZshxbx7zU2aUOzh
9IIA2QGqXmgFuMZvYx5GNgHdB7L6kfL/kMWDr3jikZRxuAAyEdqET/ITizvwB9Q7
qD5ugdwDxQU00EUEIPEXKSEPY9QpCnLc6A1MPYdntvFIdj8MrPH7KAlp+8Vlmh/J
2SrLtAtzV/hRkYve5jg=
=z0vE
-----END PGP PUBLIC KEY BLOCK-----
[gpg]
    program = gpg
