[commit]
    gpgsign = true
[user]
    email = ayaz.alavi@gmail.com
    name = Ayaz Alavi
    signingkey = -----BEGIN PGP PUBLIC KEY BLOCK-----

mQGNBGUDUmMBDADbvXRrSn/C0IfC7DxxceWikQnvMkU4pSXaAfysJ2BQY42OlpGD
Fr1vgnf6CU+Y5doJDAmN5mjmcNuNYXwibPtXoDOEwbXZ0akrDNcObBAA7jUird95
6GplvxnQqmpf65XlL3FU79vaKvcEijEXFomTghyoU//KIDhMqeiPJNR5LJP2YrMw
OJmXnkWlGFdWnzyuCSaeaYn6295SXYR7VUWNMDvKj45jmOf+t4ZUJ58gvGDPYzvA
YRBi0EqnUHsyymxm6W/gCEdd2SX1EtZxTJG2wOTxpjiHgeJcUAfQQfzVDRO6hwGo
OyaV77zhj4c3ePQxF0VbcYd6zKLvqK4BpopEXZn6ByvnOV+riZy/wgq7sz2F6HSQ
VCYgDm9J8+Wd5MdJQSSPKseJ0VBHYMQtbiUqNIyHJqxhtXa5KF8B27B9FZ54f2Go
zalfOLFx0/cHS6APuNoorII2oCXQpUityG26kgmdXk2qMVnhkNSOxteV0vHeJUA6
zC5ceB99SjGS2PsAEQEAAbQhQXlheiBBbGF2aSA8YXlhei5hbGF2aUBnbWFpbC5j
b20+iQHOBBMBCAA4FiEE7TbBN6TvefiSzKriAiC0OvxoongFAmUDUmMCGwMFCwkI
BwIGFQoJCAsCBBYCAwECHgECF4AACgkQAiC0Ovxoonix+gv/crdjbnZsM4r/Mpuv
Z+mL3IMAolS//KMhv9fAJbT6njwI1C6LEua2WweQSSi8Pj4voAEJtiecRXK1Io2k
LJYu10oiC9zPOvQmw8MAxNLqBhJL/KpT+vUWDn1ElPz1OLE6bMWmGp+HU5peF/sA
kplr/frGKUzJhjB/oIFvroEpptfqM37vJpCi+kAwuK5XF7mpe6SHWEYNZpTFO0o2
b7gyxVWXmVi1SCI4rt5kZ7VoVb2pRCpXl2XlLWijGItw09FuPqD4cplyUNv9kiN4
7NAxbxPxdRQoXihSlkVbGhLbzuZMu13gL6sqTz5Kt4LFa5Lx00jK+4Gj2Rmq9s8X
4MPyQQEzSlur8nnxkPG1vnf6ptY84fW7LDfLW+inn4eW2TqPrt4vcoxbiw+rvklK
ync4ddDASTVwbcai0D4M14c8VNpZdlXC4nyUyEVf59dA/RqjS2/s1HhCOlc7Gkmn
L0N8SuDko36QKgzp+SzoNzZ5CJrIDTOP7I5kYIpyuc+3jt/DuQGNBGUDUmMBDACw
TgS4doG9IKkN76LAPtXgKGjfx/9rnj8pxJ/hoeEsyG6IAkLk7UHyq88yd0LsdWzt
VlTi7M0aicl4lMTXkMLKKIqUwqIQtJNYQ7GrDWEJIKT6RH9pjut1EMSlaBx61foy
CuJQ8RHgz5C/aUJMObD316zlilOBDlwp97NqMabmstp0DiWlN7yEepKQJBoO+a8N
WMxjnphEwyLa7k6gaqNRhbsKAF35FVPhaUUMNy00UPW0fUl9WFHkvi8Zlcm7i8jd
6M4Y9bnbP6J94nosDga5+raQZ6gHKFvvGGqsAgVxoq3WA280q0qa8BxyZYPrFY41
nA/M8iAK6MSy1GZrrEGzhyV9HZPsFyqYTGyMhoE80qGO8Jq9SyMQlT1cWOgwb1u0
OAa0mmyq61Ugf2PjWhEzqVBm7s05Ov5SvUx59rufSZ5tEiA4bBEiddwBy2aldGVj
/O4OBX8/PW33RvFY4o83RalYIfKgJVd41UXN6Ptq7zBOo2dn35S13M7RSy60MDsA
EQEAAYkBtgQYAQgAIBYhBO02wTek73n4ksyq4gIgtDr8aKJ4BQJlA1JjAhsMAAoJ
EAIgtDr8aKJ4OKgMAJyuqF+Q7Or0ZciWLVtyc5geqOD7ALlVKWKuRuCgzgC7MX9i
Zx9dtHmm9DgWkBLPaY5T4qLHQAkx0Bm4fo9+byFq1l3E5FMBuEr+PKt0Hqa7y/Ld
dyQtx6Dz35Y/OlcoZHnOCXKM/R1LqswozADIl8PnXdvl7/lin7ANWhz75RsMemlA
u7IycQT96S9R2TSPAEUJXPI+JwQS9eYwiGjEzjsAc4veTTpOWJsSPj/ag6nwLuMm
QG3r9CiWxpieWoWXTZR+2Fsziq6LMBHW2TbTUSXxtVFtnQuVV+BHljoQ1hQdglnO
B5muAB3avNquzlPy+P1vWwlYGdNpu7ImPSYYHBVG39ruU17PduTczK3Cn+hgi5g5
IJWuGIPqrIRqsSYmAdDc1xNbxogLN+prHa5b0GVjb3649DxpBW7ginvpSv590tNM
D6qoXNYswtyFhlVkezl7mGLN7RpcRIP0O4S4ZdVt+UomOJceaRWpfr91Qa2iT7GM
a17LMCkjS+q/r/Z0mg==
=msen
-----END PGP PUBLIC KEY BLOCK-----
[gpg]
    program = gpg