---
---
@import url('./fonts.css');
@import url('./styles.old.css');

:root {
    --color-dark: #0B1B34;
}

.lhn {
    height: 100%;
    width: 375px;
    position: fixed;
    background-color: #fafafa;
    padding: 36px;
    box-sizing: border-box;
    border-right-color: rgb(236, 236, 236);
    border-right-width: 1px;
    border-style: solid;

    .lhn-content {
        padding-top: 24px;
        margin-left: 32px;
    }
}

.content-area {
    /* Same as the width of the lhn */
    margin-left: 375px;
    padding: 48px;
    box-sizing: border-box;
}


.logo {
    width: 150px;
}

.current {
    color: green;
}

.toc {
    color: white;
    background-color: var(--color-dark);
    position: fixed;
    width: 300%;
    left: 0;
    top: 0;
    z-index: 5000;
}

.main-navigation-tree {

    ul,
    li {
        margin-bottom: 12px;

        /* Apply recursive style to add a margin to the nested items */
        ul,
        li {
            margin-top: 12px;
            margin-left: 12px;
        }
    }

    .caret-icon {
        left: 48px;
        padding-top: 1px;
        position: absolute;
        color: #c5c9ca;
        font-size: larger;
    }

    .selected-hub {
        font-weight: bold;
    }
}


.card {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 15px;
    border: 1px solid lightgray;
    padding: 20px;

    .left-icon {
        display: flex;
        align-items: center;
        padding-right: 15px;
    }

    .right-icon {
        display: flex;
        align-items: center;
        padding-left: 15px;
    }

    .body {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        flex-grow: 2;
    }

    .description {
        margin-top: 15px;
    }
}