:root {
    --color-dark: #0B1B34;
    --spacing-default: 32px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
    min-height: 100%;
    background: #fff;
}

body,
button,
input,
select,
textarea {
    line-height: 1.4;
    font-weight: 400;
    font-family: "GTAmericaExp-Regular", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 16px;
    color: var(--color-dark);
}

hr {
    background: #0185FF;
    border: none;
    display: inline-block;
    width: 24px;
    height: 2px;
    margin: 0 0 15px;
}

@media (min-width: 1500px) {

    body,
    button,
    input,
    select,
    textarea {
        font-size: 18px;
    }
}

strong {
    font-weight: 700;
    font-family: "GTAmericaExp-Bold", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

em {
    font-style: italic;
}

a {
    color: #0185FF;
    text-decoration: none;
}

a:hover {
    color: #006FD6;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-dark);
    font-family: "GTAmericaExp-Regular";
    font-weight: 400;
    margin-bottom: 12px;
    line-height: 1.33;
}

h1 {
    font-size: 36px;
    line-height: 1.2;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

h5 {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #0185FF;
    margin-bottom: 6px;
}

h6 {
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

p {
    margin: 0 0 var(--spacing-default);
}

.content-panel ul,
.content-panel ol {
    margin: 0 0 50px 50px;
}

.content-panel ul li,
.content-panel ol li {
    list-style: square;
    margin: 0 0 15px;
}

.content-panel ul li p:last-child,
.content-panel ol li p:last-child {
    margin-bottom: 0;
}

.content-panel ol li {
    list-style: decimal;
}

.toc {
    background-color: var(--color-dark);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5000;
}

@media (max-width: 849px) {
    .toc {
        position: absolute;
        width: 300%;
        height: 60px;
    }
}

@media (max-width: 440px) {
    .toc {
        height: 50px;
    }
}

@media (min-width: 850px) {
    .toc {
        width: 300px;
        height: 100%;
    }
}

@media (min-width: 1200px) {
    .toc {
        width: 300px;
    }
}

.toc__inner {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 849px) {
    .toc__inner {
        padding: 15px 6%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 850px) {
    .toc__inner {
        padding: 25% 20%;
    }
}

.toc__text {
    text-align: right;
}

@media (max-width: 849px) {
    .toc__text {
        height: 60px;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 999999;
    }

    .toc__text h2 {
        color: #FFF;
        font-size: 20px;
        line-height: 59px;
        margin: 0;
        padding: 0 30px 0 0;
    }
}

.toc__text h2 a {
    color: #FFF;
    opacity: .65;
}

.toc__text h1 a:hover {
    opacity: .85;
}

@media (max-width: 440px) {
    .toc__text h2 {
        line-height: 49px;
    }
}

@media (min-width: 850px) {
    .toc__text {
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        -moz-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        position: absolute;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100px;
    }

    .toc__text h2 a {
        line-height: 98px;
        margin: 0;
        padding: 0 30px 0 0;
    }
}

.toc__logo {
    position: relative;
    height: 0;
}

@media (min-width: 850px) {
    .toc__logo {
        position: absolute;
        bottom: 15px;
        left: 38px;
        width: 187px;
        height: 28px;
    }
}

@media (max-width: 849px) {
    .toc__logo {
        transition: background .5s cubic-bezier(0.18, 0.75, 0.52, 0.94);
        box-sizing: border-box;
        position: fixed;
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
        padding: 15px 6%;
        z-index: 5010;
    }

    .toc__logo::after {
        transition: all .5s cubic-bezier(0.18, 0.75, 0.52, 0.94);
        content: '';
        display: block;
        position: absolute;
        background: rgba(255, 255, 255, 0.5);
        width: 0;
        height: 1px;
        bottom: 0;
        left: -50%;
    }

    .active .toc__logo::after {
        width: 100%;
        left: 0;
        background: rgba(93, 110, 115, 0.3);
    }
}

@media (max-width: 440px) {
    .toc__logo {
        height: 50px;
    }
}

.logo {
    overflow: hidden;
    position: relative;
    width: 114px;
    height: 26px;
    display: inline-block;
}

@media (max-width: 849px) {
    .logo {
        top: 4px;
    }
}

@media (max-width: 440px) {
    .logo {
        top: 0;
        height: 22px;
        width: 97px;
    }
}

@media (min-width: 850px) {
    .logo {
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}

.content {
    position: relative;
    height: 100%;
}

@media (min-width: 850px) {
    .content {
        margin-left: 300px;
    }
}

@media (min-width: 1200px) {
    .content {
        margin-left: 300px;
    }
}

.content-header__push {
    display: none;
}

@media (max-width: 849px) {
    .content-header__push {
        height: 60px;
        display: block;
    }
}

@media (max-width: 440px) {
    .content-header__push {
        height: 50px;
    }
}

.content-panel {
    overflow: hidden;
    position: relative;
}

.content-panel__inner {
    padding: 4% 6%;
}

@media (max-width: 849px) {
    .content-panel__inner {
        padding: 9% 6%;
    }
}

.content-card {
    position: relative;
    overflow: hidden;
    margin: 0 auto 60px;
}

.content-card:last-child {
    margin-bottom: none;
}

.content-card__title {
    background: #f5f3f1;
    padding: 20px;
}

.content-card__title h1,
.content-card__title h2,
.content-card__title h3,
.content-card__title h4,
.content-card__title h5,
.content-card__title h6 {
    margin: 0;
}

pre {
    border-radius: 12px;
    display: block;
    background-color: #F5F6F8;
    padding: var(--spacing-default);
    border: none !important;
    margin: 0 0 var(--spacing-default);
    color: #32435E;
    font-family: Menlo, Consolas, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, monospace;
    line-height: 1.5;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

code {
    background-color: #F5F6F8;
    color: #32435E;
    font-family: Menlo, Consolas, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, monospace;
}

.content-card__inner>table {
    margin-bottom: var(--spacing-default);
    white-space: nowrap;
}

.content-card__inner>table td a {
    display: inline-block;
    margin: 0 10px 10px 0;
}

@media only screen and (max-width: 700px) {
    td {
        position: relative;
        display: block;
        float: left;
        width: 50%;
    }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}