<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.expensify.chat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"/>

    <!-- android:hardwareAccelerated is essential for Android performance: https://developer.android.com/topic/performance/hardware-accel -->
    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">

        <service
            android:name="com.expensify.reactnativebackgroundtask.BackgroundJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/BootTheme"
            android:windowSoftInputMode="adjustResize">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Custom URI handlers. Used to intercept Urban Airship deep links. -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="new-expensify" />
            </intent-filter>

            <!-- Web URL handlers. Used to intercept web links. -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Production URLs -->
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/r"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/a"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/settings"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/details"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/v"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/bank-account"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/iou"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/request"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/submit"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/enable-payments"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/statements"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/concierge"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/split"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/request"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/new"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/search"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/send"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/pay"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/money2020"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/track-expense"/>
                <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/submit-expense"/>

                <!-- Staging URLs -->
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/r"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/a"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/settings"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/details"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/v"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/bank-account"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/iou"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/request"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/submit"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/enable-payments"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/statements"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/concierge"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/split"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/request"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/new"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/search"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/send"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/pay"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/money2020"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/track-expense"/>
                <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/submit-expense"/>
            </intent-filter>
             <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <!-- Images -->
                <data android:mimeType="image/jpg" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/tif" />
                <data android:mimeType="image/tiff" />

                <!-- Documents -->
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/msword" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/rtf" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="message/rfc822" />

                <!-- Text / HTML -->
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/xml" />

                <!-- Audio / Video -->
                <data android:mimeType="audio/mpeg" />
                <data android:mimeType="audio/aac" />
                <data android:mimeType="audio/flac" />
                <data android:mimeType="audio/wav" />
                <data android:mimeType="audio/x-wav" />
                <data android:mimeType="audio/mp3" />
                <data android:mimeType="audio/vorbis" />
                <data android:mimeType="audio/x-vorbis" />
                <data android:mimeType="audio/opus" />

                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/mp2t" />
                <data android:mimeType="video/webm" />
                <data android:mimeType="video/avc" />
                <data android:mimeType="video/hevc" />
                <data android:mimeType="video/x-vnd.on2.vp8" />
                <data android:mimeType="video/x-vnd.on2.vp9" />
                <data android:mimeType="video/av01" />

            </intent-filter>
        </activity>

        <meta-data
            android:name="com.urbanairship.reactnative.AIRSHIP_EXTENDER"
            android:value="com.expensify.chat.customairshipextender.CustomAirshipExtender" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/bootsplash_background" />

    </application>
</manifest>
