<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.expensify.chat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- To provide a link to services in other apps
    that target Android 11+ we need to add the following -->
    <queries>
      <intent>
        <action android:name="android.intent.action.VIEW"/>
        <data android:scheme="venmo"/>
      </intent>
    </queries>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:resizeableActivity="false"
      android:theme="@style/AppTheme">

      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:exported="true"
        android:windowSoftInputMode="adjustResize">
      </activity>

      <activity
        android:name=".bootsplash.BootSplashActivity"
        android:theme="@style/BootTheme"
        android:launchMode="singleTask">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <!-- Custom URI handlers. Used to intercept Urban Airship deep links. -->
        <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="expensify-cash"/>
            <data android:scheme="new-expensify"/>
        </intent-filter>

        <!-- Web URL handlers. Used to intercept web links. -->
        <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.BROWSABLE"/>

            <!-- Production URLs -->
            <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/r"/>
            <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/settings"/>
            <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/setpassword"/>
            <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/details"/>
            <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/v"/>
            <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/bank-account"/>
            <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/iou"/>
            <data android:scheme="https" android:host="new.expensify.com" android:pathPrefix="/enable-payments"/>

            <!-- Staging URLs -->
            <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/r"/>
            <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/settings"/>
            <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/setpassword"/>
            <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/details"/>
            <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/v"/>
            <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/bank-account"/>
            <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/iou"/>
            <data android:scheme="https" android:host="staging.new.expensify.com" android:pathPrefix="/enable-payments"/>
        </intent-filter>
      </activity>

      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

      <meta-data android:name="com.urbanairship.reactnative.AIRSHIP_EXTENDER"
          android:value="com.expensify.chat.CustomAirshipExtender" />
    </application>
</manifest>
