<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HostAppBundleIdentifier</key>
	<string>com.expensify.chat.dev</string>
	<key>ReactNativeShareMenuAppGroup</key>
	<string>group.com.chat.expensify.chat</string>
	<key>HostAppURLScheme</key>
	<string>new-expensify://</string>
	<key>NSExtension</key>
	<dict>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
			<key>NSExceptionDomains</key>
			<dict>
				<key>localhost</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<dict>
				<key>NSExtensionActivationSupportsFileWithMaxCount</key>
				<string>1</string>
				<key>NSExtensionActivationSupportsImageWithMaxCount</key>
				<integer>1</integer>
				<key>NSExtensionActivationSupportsText</key>
				<true/>
				<key>NSExtensionActivationSupportsWebURLWithMaxCount</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
		<key>ReactShareViewBackgroundColor</key>
		<dict>
			<key>Alpha</key>
			<integer>1</integer>
			<key>Blue</key>
			<integer>31</integer>
			<key>Green</key>
			<integer>39</integer>
			<key>Red</key>
			<integer>7</integer>
			<key>Transparent</key>
			<false/>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>ExpensifyNewKansas-Medium.otf</string>
		<string>ExpensifyNewKansas-MediumItalic.otf</string>
		<string>ExpensifyMono-Bold.otf</string>
		<string>ExpensifyMono-Regular.otf</string>
		<string>ExpensifyNeue-Bold.otf</string>
		<string>ExpensifyNeue-BoldItalic.otf</string>
		<string>ExpensifyNeue-Italic.otf</string>
		<string>ExpensifyNeue-Regular.otf</string>
	</array>
</dict>
</plist>
