@import "../assets/css/fonts.css";

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    font-family: "Expensify Neue", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
    background-color: #FCFBF9;
    color: #002E22;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Expensify New Kansas", sans-serif;
    font-weight: 500;
}

/* Header styling */
.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E6E1DA;
    justify-content: space-between;
    background-color: #FCFBF9;
    padding: 15px 20px;
    position: fixed;
    height: 80px;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header svg path {
    color: #8B9C8F;
    fill: #8B9C8F;
}

#wordmark path {
    fill: #002E22;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.logo a svg {
    margin-top: 11px;
}

#lockup {
    display: flex;
    align-items: center;
}

/* Dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
    font-size: 24px; /* Match the logo font size */
    font-family: "Expensify New Kansas", sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    border-radius: 16px;
    border: 1px solid #E6E1DA;
    position: absolute;
    background-color: #FCFBF9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown a {
    text-decoration: none;
    padding: 8px 0;
    display: block;
}

.dropdown a.active {
    font-weight: bold;
    background-color: #eaf5ff;
}

/* Sidebar navigation for TOC */
.toc-sidebar {
    width: 250px;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    background-color: #FCFBF9;
    padding: 20px;
    overflow-y: auto;
    border-right: 1px solid #E6E1DA;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
}

.toc-sidebar.open {
    transform: translateY(0);
}

.toc-link::before {
    display: none;
}

.toc-sidebar ul {
    list-style: none;
    padding-left: 0;
    line-height: 1.0;
    font-size: 15px;
}

.toc-sidebar li {
    margin-left: 0;
    padding-left: 0;
}

.js-toc > a {
    font-weight: bold;
    font-size: 18px;

}

.js-toc > ul > li {
    margin-top: 25px;
}

.js-toc > ul > li > a {
    font-weight: bold;
}

.js-toc > ul > li > ul > li > ul > li {
    padding-left: 10px;
}

.toc-sidebar a {
    word-wrap: break-word;
    display: block;
    padding: 4px 10px;
    margin-bottom: 5px;
    text-decoration: none;
    border-radius: 6px;
}

.toc-sidebar a:hover {
    background-color: #f1f8ff;
    text-decoration: none;
}

.toc-sidebar .is-active-link {
    background-color: #E6E1DA;
    border-radius: 6px;
}

/* Main content area */
main {
    margin-left: 300px;
    padding: 20px;
    flex-grow: 1;
    max-width: 900px;
}

main h1 {
    display: none;
}

main h2 {
    font-size: 28px;
    margin-bottom: 16px;
}

main h3 {
    font-size: 24px;
    margin-bottom: 12px;
}

main h4 {
    font-size: 20px;
    margin-bottom: 12px;
}

main p, main li {
    color: #76847E;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}

main p strong, main li strong {
    color: #002E22;
}

.is-active-link {
    font-weight: normal;
}

.scroll-spacer {
    height: 300px;
}

/* Footer */
footer {
    margin-left: 300px;
    color: #0366d6;
    background-color: #f9fafb;
    padding: 40px 20px;
    font-size: 14px;
    max-width: 900px;
}

footer h3 {
    color: #0366d6;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li a {
    color: #0366d6;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer .social-icons a img {
    width: 20px;
    margin-right: 10px;
}

.footer-container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    max-width: 300px; /* Set a max-width for each column */
    padding: 0 20px;  /* Add padding for some space between the columns */
}

/* Mobile Styles */
.hamburger {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        margin-right: 20px;
    }

    #lockup a svg, #lockup .slash {
        display: none;
    }

    .dropdown {
        font-family: "Expensify Neue", sans-serif;
        font-size: 17px;
        font-weight: 700;
    }

    .toc-sidebar {
        transform: translateY(-100%);
        width: 100%;
    }

    main {
        margin-left: 0;
        padding: 20px;
        max-width: 100%;
    }

    footer {
        display: none;
    }

    #modal-content {
        width: 80% !important;
    }
}

/* Modal background */
#search-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(235, 230, 223, 0.72);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Modal content */
#modal-content {
    top: 20%;
    background: #FCFBF9;
    padding: 20px;
    width: 60%;
    max-width: 600px;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Search input with magnifying glass */
.search-icon-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
    border: 1px solid #eaecef;
    border-radius: 6px;
    box-sizing: border-box;
}

.search-icon {
    font-size: 18px;
    margin-right: 8px;
}

/* Updated input style */
#search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
}

/* Search results */
#search-results {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
    border-top: 1px solid #eaecef;
    padding-top: 10px;
    outline: none; /* Disable the strong outline */
}

.search-result {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaecef;
}

.search-result-title {
    font-weight: bold;
    margin-bottom: 5px;
    color: #0366d6;
    text-decoration: none;
}

.search-result-title:hover {
    text-decoration: underline;
}

.search-result-context {
    font-size: 14px;
    color: #586069;
}

/* Highlighted search result */
.highlight {
    background-color: #eaecef;
}

/* Softer focus style for search results */
#search-results:focus {
    border: 2px solid #ddd; /* Softer border on focus */
    outline: none;
}

/* Soft yellow highlight for selected section */
.highlight-section {
    background-color: #fffbcc;
    transition: background-color 0.3s ease;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #061B09;
        color: #E7ECE9;
    }

    .header {
        background-color: #061B09;
        color: #E7ECE9;
        border-color: #1A3D32;
    }

    #wordmark path {
        fill: #E7ECE9;
    }

    main p, main li {
        color: #AFBBB0;
    }
    
    main p strong, main li strong {
        color: #E7ECE9;
    }

    .toc-sidebar {
        background-color: #061B09;
    }

    .toc-sidebar .is-active-link {
        background-color: #1A3D32;
    }

    #search-modal {
        background: rgba(26, 61, 50, 0.72);
    }

    #toc-sidebar {
        border-color: #1A3D32;
    }

    .dropdown-content {
        border-color: #1A3D32;
        background-color: #061B09;
    }
}

