@font-face {
    font-family: ExpensifyNeue-Regular;
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/ExpensifyNeue-Regular.woff2') format('woff2'), url('/fonts/ExpensifyNeue-Regular.woff') format('woff');
}

@font-face {
    font-family: ExpensifyNeue-Regular;
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/ExpensifyNeue-Bold.woff2') format('woff2'), url('/fonts/ExpensifyNeue-Bold.woff') format('woff');
}

@font-face {
    font-family: ExpensifyNeue-Regular;
    font-weight: 400;
    font-style: italic;
    src: url('/fonts/ExpensifyNeue-Italic.woff2') format('woff2'), url('/fonts/ExpensifyNeue-Italic.woff') format('woff');
}

@font-face {
    font-family: ExpensifyNeue-Regular;
    font-weight: 700;
    font-style: italic;
    src: url('/fonts/ExpensifyNeue-BoldItalic.woff2') format('woff2'), url('/fonts/ExpensifyNeue-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: ExpensifyMono-Regular;
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/ExpensifyMono-Regular.woff2') format('woff2'), url('/fonts/ExpensifyMono-Regular.woff') format('woff');
}

@font-face {
    font-family: ExpensifyMono-Bold;
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/ExpensifyMono-Bold.woff2') format('woff2'),  url('/fonts/ExpensifyMono-Bold.woff') format('woff');
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

strong {
    font-weight: 600;
}
