@font-face {
    font-family: Expensify-Neue-Regular;
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Expensify-Neue-Regular.woff2') format('woff2'), url('/fonts/Expensify-Neue-Regular.woff') format('woff'),;
}

@font-face {
    font-family: Expensify-Neue-Bold;
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Expensify-Neue-Bold.woff2') format('woff2'), url('/fonts/Expensify-Neue-Bold.woff') format('woff');
}

@font-face {
    font-family: Expensify-Neue-Italic;
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Expensify-Neue-Italic.woff2') format('woff2'), url('/fonts/Expensify-Neue-Italic.woff') format('woff');
}

@font-face {
    font-family: Expensify-Neue-BoldItalic;
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Expensify-Neue-BoldItalic.woff2') format('woff2'), url('/fonts/Expensify-Neue-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: Expensify-Mono-Regular;
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Expensify-Mono-Regular.woff2') format('woff2'), url('/fonts/Expensify-Mono-Regular.woff') format('woff');
}

@font-face {
    font-family: Expensify-Mono-Bold;
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Expensify-Mono-Bold.woff2') format('woff2'),  url('/fonts/Expensify-Mono-Bold.woff') format('woff');
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

strong {
    font-weight: 600;
}
