@import './AnnotationLayer.css';
@import './TextLayer.css';

.react-pdf__Page {
    direction: ltr;
    margin: 1px auto -8px auto;
    position: relative;
    overflow: visible;
    border: 9px solid transparent;
    background-clip: content-box;
    background-color: transparent !important;
}

.react-pdf__Page__annotations {
    height: 0;
}
.react-pdf__Page__textContent{
    opacity: 0.2;
}
.react-pdf__Page__textContent ::selection{
    background: rgba(0, 0, 255, 1);
}
.react-pdf__Page__textContent span{
    color: transparent;
}
.react-pdf__Page__canvas {
    box-shadow: 0px 4px 12px 0px rgba(2, 18, 4, 0.06);
}
@media (prefers-color-scheme: dark) {
    .react-pdf__Page__canvas {
        color-scheme: dark;
        box-shadow: 0px 4px 12px 0px rgba(2, 18, 4, 0.24);
    }
}
