@import './AnnotationLayer.css';

.react-pdf__Page {
    direction: ltr;
    margin: 1px auto -8px auto;
    position: relative;
    overflow: visible;
    border: 9px solid transparent;
    background-clip: content-box;
    border-image: url(../images/shadow.png) 9 9 repeat;
    background-color: rgba(255, 255, 255, 1);
}
.react-pdf__message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.react-pdf__Page__annotations {
    height: 0;
}
.react-pdf__Page__textContent{
    opacity: 0.2;
}
.react-pdf__Page__textContent ::selection{
    background: rgba(0, 0, 255, 1);
}
.react-pdf__Page__textContent span{
    color: transparent;
}
