@import url("./fonts.css");
:root { --color-dark: #0B1B34; --spacing-default: 24px; }

* { margin: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

html { line-height: 1; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: 400; vertical-align: middle; }

q, blockquote { quotes: none; }

q:before, q:after, blockquote:before, blockquote:after { content: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

html, body { height: 100%; min-height: 100%; background: #fff; }

hr { background: #0185FF; border: none; display: inline-block; width: 24px; height: 2px; margin: 0 0 15px; }

strong { font-weight: 700; font-family: "GTAmericaExp-Bold", "Helvetica Neue", "Helvetica", Arial, sans-serif; }

em { font-style: italic; }

a { color: #0185FF; text-decoration: none; }

a:hover { color: #006FD6; text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { color: var(--color-dark); font-family: "GTAmericaExp-Regular"; font-weight: 400; margin-bottom: 12px; line-height: 1.33; }

h1 { font-size: 36px; line-height: 1.2; }

h2 { font-size: 26px; }

h3 { font-size: 20px; }

h5 { font-size: 12px; font-weight: 500; text-transform: uppercase; color: #0185FF; margin-bottom: 6px; }

h6 { font-size: 11px; text-transform: uppercase; margin-bottom: 6px; }

p { margin: 0 0 var(--spacing-default); }

code { background-color: #F5F6F8; color: #32435E; font-family: Menlo, Consolas, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, monospace; }

body, button, input, select, textarea { line-height: 1.4; font-weight: 400; font-family: "GTAmericaExp-Regular", "Helvetica Neue", "Helvetica", Arial, sans-serif; font-size: 16px; color: var(--color-dark); }

.lhn { height: 100%; width: 375px; position: fixed; background-color: #fafafa; padding: 36px; box-sizing: border-box; border-right-color: #ececec; border-right-width: 1px; border-style: solid; }

.lhn .logo { width: 150px; }

.lhn .lhn-content { padding-top: 24px; margin-left: 32px; }

.lhn ul, .lhn li { list-style: none; }

.content-area { /* Same as the width of the lhn */ margin-left: 375px; padding: 48px; box-sizing: border-box; }

.main-navigation-tree ul, .main-navigation-tree li { margin-bottom: 12px; /* Apply recursive style to add a margin to the nested items */ }

.main-navigation-tree ul ul, .main-navigation-tree ul li, .main-navigation-tree li ul, .main-navigation-tree li li { margin-top: 12px; color: #069; cursor: pointer; }

.main-navigation-tree .caret-icon { left: 48px; padding-top: 1px; position: absolute; color: #c5c9ca; font-size: larger; }

.main-navigation-tree .caret-icon-down { left: 44px; }

.main-navigation-tree .selected-hub { font-weight: bold; }

.main-navigation-tree .link { color: #069; cursor: pointer; }

.cards-row { display: flex; flex-wrap: wrap; justify-content: space-between; row-gap: 10px; column-gap: 20px; }

.card { display: flex; flex-wrap: nowrap; flex: 42%; flex-grow: 0; flex-shrink: 0; border-radius: 15px; border: 1px solid lightgray; padding: 20px; }

.card .left-icon { display: flex; align-items: center; padding-right: 15px; }

.card .right-icon { display: flex; align-items: center; padding-left: 15px; }

.card .body { display: flex; flex-wrap: nowrap; flex-direction: column; flex-grow: 2; }

.card .description { margin-top: 15px; }

/*# sourceMappingURL=styles.css.map */