<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detectProvisioningMode</key>
	<true/>
	<key>appKey</key>
	<string>uulSSfTDQJ2r0PMpjRrhmQ</string>
	<key>appSecret</key>
	<string>D4Bhf0HrQEehrPua74Tyiw</string>
	<key>appKey</key>
	<string>55vypj0ARc6cN09MX7ogtQ</string>
	<key>appSecret</key>
	<string>EsSaqbdLSvmyC6kSBFJCtQ</string>
</dict>
</plist>
