<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>detectProvisioningMode</key>
  <true/>
  <key>developmentAppKey</key>
  <string>5MOp6a0aQ6G3Xw1kKGfgrA</string>
  <key>developmentAppSecret</key>
  <string>XFzdgGwRQSyellrQtYar3A</string>
  <key>productionAppKey</key>
  <string>4XPPo9Z4Q2KVAbIBkYP9ew</string>
  <key>productionAppSecret</key>
  <string>6aTetk0vQ2aQmGpRITwXOg</string>
</dict>
</plist>
