$color-dark: #0B1B34;
$color-gray1: #FAFAFA;
$color-gray2: #ECECEC;
$color-gray3: #C6C9CA;
$color-green: #03D47C;
$color-pink: #F68DFE;
$color-white: #E7ECE9;

$color-light-grey-green: #C9D3C5;
$color-gray-green: #8B9C8F;
$color-dark-green: #1A3D32;
$color-darker-green: #07271F;
$color-super-dark-green: #061B09;
$color-light-blue: #8DC8FF;

$color-link: #5AB0FF;
$color-link-hovered: #B0D9FF;