:root {
    --color-text: #002e22;
    --color-button-text: #FCFBF9;
    --color-text-supporting: #76847e;
    --color-icons: #a2a9a3;
    --color-borders: #e6e1da;
    --color-highlightBG: #f8f4f0;
    --color-row-hover: #f2ede7;
    --color-appBG: #fcfbf9;
    --color-success: #03d47c;
    --color-accent: #03d47c;
    --color-link: #0164BF;
    --color-link-hovered: #0676DE;
    --color-button-background: #e6e1da;
    --color-button-background-hover: #d8d1c7;
    --color-button-success-background: #03d47c;
    --color-button-success-background-hover: #00a862;
    --color-overlay: rgba(235, 230, 223, 0.72);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: #e7ece9;
        --color-button-text: #E7ECE9;
        --color-text-supporting: #afbbb0;
        --color-icons: #8b9c8f;
        --color-borders: #1a3d32;
        --color-highlightBG: #072419;
        --color-row-hover: #0a2e25;
        --color-appBG: #061b09;
        --color-success: #03d47c;
        --color-accent: #03d47c;
        --color-link: #5ab0ff;
        --color-link-hovered: #8DC8FF;
        --color-button-background: #1a3d32;
        --color-button-background-hover: #224f41;
        --color-button-success-background: #03d47c;
        --color-button-success-background-hover: #00a862;
        --color-overlay: rgba(26, 61, 50, 0.72);
    }
}
