@font-face {
  font-family: ExpensifyNeue-Regular;
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/ExpensifyNeue-Regular.woff2') format('woff2'), url('/assets/fonts/ExpensifyNeue-Regular.woff') format('woff');
}

@font-face {
  font-family: ExpensifyMono-Regular;
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/ExpensifyNeue-Regular.woff2') format('woff2'), url('/assets/fonts/ExpensifyMono-Regular.woff') format('woff');
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
