@font-face {
  font-family: ExpensifyNeue;
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/ExpensifyNeue-Regular.woff2') format('woff2'), url('/assets/fonts/ExpensifyNeue-Regular.woff') format('woff');
}

@font-face {
  font-family: ExpensifyNeue;
  font-weight: 700;
  font-style: bold;
  src: url('/assets/fonts/ExpensifyNeue-Bold.woff2') format('woff2'), url('/assets/fonts/ExpensifyNeue-Bold.woff') format('woff');
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
