@import 'colors';
@import 'fonts';

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    line-height: 1;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;

    &:before,
    &:after {
        content: none;
    }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

html,
body {
    height: 100%;
    min-height: 100%;
    background: $color-white;
}

hr {
    background: $color-blue;
    border: none;
    display: inline-block;
    width: 24px;
    height: 2px;
    margin: 0 0 15px;
}

strong {
    font-weight: 700;
    font-family: "GTAmericaExp-Bold", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

em {
    font-style: italic;
}

a {
    color: $color-blue;
    text-decoration: none;

    &:hover {
        color: $color-blueHover;
        text-decoration: underline;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-dark;
    font-family: "GTAmericaExp-Regular";
    font-weight: bold;
    padding-bottom: 12px;
    margin-top: 20px;
}

h1 {
    font-size: larger;
}

h2 {
    font-size: large;
}

p {
    padding-bottom: 20px;
}

body,
button,
input,
select,
textarea {
    line-height: 1.4;
    font-weight: 400;
    font-family: "GTAmericaExp-Regular", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 16px;
    color: $color-dark;
}

#lhn {
    width: 420px;
    height: 100%;
    position: fixed;
    background-color: $color-gray1;
    box-sizing: border-box;
    border-right-color: $color-gray2;
    border-right-width: 1px;
    border-style: solid;

    @media screen and (max-width: 1024px) {
        width: 320px;
    }

    @media screen and (max-width: 800px) {
        width: 100%;
        height: auto;

        &.expanded {
            height: 100%;
        }
    }

    ul,
    li {
        list-style: none;
    }


    #lhn-content {
        height: calc(100% - 150px);
        padding-right: 24px;
        padding-bottom: 44px;
        padding-left: 44px;
        overflow: auto;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }

        .in-this-article {
            padding-top: 40px;
            display: block;
        }

        @media screen and (max-width: 800px) {
            padding-right: 24px;
            padding-bottom: 24px;
            padding-left: 24px;
            display: none;

            &.expanded {
                display: block;
            }
        }

        .article-toc {
            margin-top: 20px;
        }
    }

    .lhn-header {
        padding: 44px;

        @media screen and (max-width: 800px) {
            padding: 24px;
        }

        .header-button {
            position: absolute;
            display: none;

            @media screen and (max-width: 800px) {
                display: block;
            }
        }

        .logo {
            width: 210px;

            @media screen and (max-width: 800px) {
                width: 160px;
                align-content: center;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .icon-with-link {
        display: grid;
        grid-template-columns: 40px auto;
    }

    .icon {
        color: $color-gray3;
        font-size: larger;
        display: inline;

        &.fa-angle-right {
            padding-left: 4px;
        }
    }

    .hide {
        display: none;
        position: fixed;
    }
}

#content-area {

    /* Same as the width of the lhn */
    margin-left: 420px;
    padding: 52px 68px;
    box-sizing: border-box;

    @media screen and (max-width: 1024px) {
        margin-left: 320px;
    }

    @media screen and (max-width: 800px) {
        margin-left: 0;
        padding-top: 80px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
    }

    ul,
    ol {
        margin-left: 24px;
        padding-bottom: 20px;
    }

    h1 {
        &.title {
            font-size: 2.25em;
        }
    }
}

.link {
    display: inline;
    color: $color-blue;
    cursor: pointer;

    &:hover {
        color: $color-blueHover;
        text-decoration: underline;
    }
}

.lhn-items {

    ol,
    ul {
        padding-left: 32px;
    }

    ul,
    li {
        margin-bottom: 20px;

        /* Apply recursive style to add a margin to the nested items */
        ul,
        li {
            margin-top: 20px;
            cursor: pointer;
        }
    }

    .nested-treeview {
        margin-left: 40px;
    }

    .selected-hub {
        font-weight: bold;
        color: $color-dark;
    }

    .home-link {
        padding-left: 40px;
    }
}

.cards-group {
    display: grid;
    grid-template-columns: auto;
    row-gap: 12px;
    column-gap: 4%;
    padding-bottom: 20px;

    @media screen and (min-width: 800px) {
        grid-template-columns: 48% 48%;
    }
}

.card {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 15px;
    border: 1px solid lightgray;
    padding: 28px;
    font-weight: bold;

    .left-icon {
        display: flex;
        align-items: center;
        padding-right: 15px;
    }

    .right-icon {
        display: flex;
        align-items: center;
        padding-left: 15px;
    }

    .body {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        flex-grow: 2;
    }

    .description {
        margin-top: 15px;
    }
}