@import 'colors';
@import 'fonts';

:root {
  --spacing-default: 24px;
}

* {
  margin: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  line-height: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: 400;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;

  &:before,
  &:after {
    content: none;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

html,
body {
  height: 100%;
  min-height: 100%;
  background: $color-white;
}

hr {
  background: $color-blue;
  border: none;
  display: inline-block;
  width: 24px;
  height: 2px;
  margin: 0 0 15px;
}

strong {
  font-weight: 700;
  font-family: "GTAmericaExp-Bold", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

em {
  font-style: italic;
}

a {
  color: $color-blue;
  text-decoration: none;

  &:hover {
    color: $color-blueHover;
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-dark;
  font-family: "GTAmericaExp-Regular";
  font-weight: 400;
  margin-bottom: 12px;
  line-height: 1.33;
}

h1 {
  font-size: 36px;
  line-height: 1.2;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h5 {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: $color-blue;
  margin-bottom: 6px;
}

h6 {
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

p {
  margin: 0 0 var(--spacing-default);
}

body,
button,
input,
select,
textarea {
  line-height: 1.4;
  font-weight: 400;
  font-family: "GTAmericaExp-Regular", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 16px;
  color: $color-dark;
}

.lhn {
  height: 100%;
  width: 375px;
  position: fixed;
  background-color: $color-gray1;
  padding: 36px;
  box-sizing: border-box;
  border-right-color: $color-gray2;
  border-right-width: 1px;
  border-style: solid;

  .logo {
    width: 150px;
  }

  .lhn-content {
    padding-top: 24px;
    margin-left: 32px;
  }

  ul,
  li {
    list-style: none;
  }
}

.content-area {
  /* Same as the width of the lhn */
  margin-left: 375px;
  padding: 48px;
  box-sizing: border-box;
}

.main-navigation-tree {

  ul,
  li {
    margin-bottom: 12px;

    /* Apply recursive style to add a margin to the nested items */
    ul,
    li {
      margin-top: 12px;
      cursor: pointer;
    }
  }

  .caret-icon {
    left: 48px;
    padding-top: 1px;
    position: absolute;
    color: $color-gray3;
    font-size: larger;
  }

  .caret-icon-down {
    left: 44px;
  }

  .selected-hub {
    font-weight: bold;
  }

  .link {
    color: $color-blue;
    cursor: pointer;

    &:hover {
      color: $color-blueHover;
      text-decoration: underline;
    }
  }
}

.cards-row {
  display: grid;
  grid-template-columns: auto;
  row-gap: 12px;
  column-gap: 40px;

  @media screen and (min-width: 800px) {
    grid-template-columns: auto auto;
  }
}

.card {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 15px;
  border: 1px solid lightgray;
  padding: 20px;

  .left-icon {
    display: flex;
    align-items: center;
    padding-right: 15px;
  }

  .right-icon {
    display: flex;
    align-items: center;
    padding-left: 15px;
  }

  .body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-grow: 2;
  }

  .description {
    margin-top: 15px;
  }
}
