@mixin card-border($border-color, $border-width: 1.5px) {
  border-color: $border-color;
  border-width: $border-width;
  border-style: solid;

  &.hover {
    border-color: darken($border-color, 15%);
  }
}
