/* Fixes an issue with Webkit where map canvas loses zIndex order and draws above attribution controls
   https://github.com/Expensify/App/issues/27800
*/
.mapboxgl-ctrl-bottom-left {
  -webkit-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px);
}

.mapboxgl-ctrl-bottom-right {
  -webkit-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px);
}