/* These style overrides are necessary so that the Onfido modal looks nice */
.onfido-sdk-ui-Modal-inner {
    border-style: none !important;
    width: 100% !important;
}
@media only screen and (max-width: 600px) {
    .onfido-sdk-ui-Modal-inner {
        /* This keeps the bottom of the Onfido window from being cut off on mobile web because the height was being
         set to 100%, but we have a header on the top of the page that can be used to cancel out of the flow. This
         spacing makes room for the header without cutting off the bottom of the Onfido window. */
        height: 92% !important;
    }
}
