<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:new.expensify.com</string>
		<string>applinks:staging.new.expensify.com</string>
		<string>webcredentials:new.expensify.com</string>
	</array>
	<key>com.apple.developer.usernotifications.communication</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.expensify.new</string>
	</array>
</dict>
</plist>
