<?xml version="1.0" encoding="UTF-8"?>
<CustomSearchEngine language="" safesearch="false" autocompletions="false" enable_promotions="false" top_refinements="-1">
    <Title>Expensify Help Search</Title>
    <Description>Help Search configuration details</Description>
    <Context>
        <BackgroundLabels>
            <Label name="_include_" mode="FILTER"></Label>
            <Label name="_exclude_" mode="ELIMINATE"></Label>
        </BackgroundLabels>
    </Context>
    <LookAndFeel element_layout="3" theme="1" enable_cse_thumbnail="false" element_branding="hide" custom_theme="true" font="8">
        <Colors url="" title="#7BAAF7" visited="#7BAAF7" title_hover="#7BAAF7" title_active="#7BAAF7" text="#FFFFFF" background="#061b09" border="#061b09"></Colors>
        <Promotions title_color="" title_visited_color="" title_hover_color="" title_active_color="" background_color="" border_color="" url_color="" snippet_color=""></Promotions>
        <SearchControls input_border_color="#061b09" button_icon_color="#03d47c" button_border_color="#061b09" button_background_color="#061b09" tab_border_color="" tab_background_color="" tab_selected_border_color="" tab_selected_background_color=""></SearchControls>
        <Results border_color="#061b09" border_hover_color="#061b09" background_color="#061b09" background_hover_color="#061b09"></Results>
        <Logo url="" destination="" height="30"></Logo>
        <Widget query_parameter_name="q"></Widget>
    </LookAndFeel>
    <ImageSearchSettings enable="false"></ImageSearchSettings>
    <cse_advance_settings enable_facet_search="false">
        <web_search_options enable_history="true" show_structured_data="false">
            <search_restrict_args lr="" cr="" gl="" filter="0" sort="" as_siteseach="" as_oq=""></search_restrict_args>
        </web_search_options>
        <image_advanced_options default_to_image_search="false">
            <search_restrict_args lr="" cr="" gl="" filter="0" sort="" as_siteseach="" as_oq=""></search_restrict_args>
        </image_advanced_options>
        <search_options link_target=""></search_options>
        <custom_search_control_options no_results_string="Oops no results found, Please try again..."></custom_search_control_options>
    </cse_advance_settings>
    <sort_by_keys label="Relevance" key=""></sort_by_keys>
    <sort_by_keys label="Date" key="date"></sort_by_keys>
    <autocomplete_settings source="1"></autocomplete_settings>
</CustomSearchEngine>
