name: android

on:
    push:
        branches: [ master ]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-ruby@v1

        - name: Install bundler
          run: gem install bundler

        - name: Install gems
          run: bundle install

        - name: Install node packages
          run: npm install

        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@v1
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: us-east-1

        - name: Decrypt keystore
          run: cd android/app && gpg --quiet --batch --yes --decrypt --passphrase="$LARGE_SECRET_PASSPHRASE" --output my-upload-key.keystore my-upload-key.keystore.gpg
          env:
              LARGE_SECRET_PASSPHRASE: ${{ secrets.LARGE_SECRET_PASSPHRASE }}

        - name: Run Fastlane
          run: bundle exec fastlane android beta

        - name: Deploy to S3
          run: aws s3 cp --acl public-read $GITHUB_WORKSPACE/android/app/build/outputs/apk/release/app-release.apk s3://chat-test-expensify-com/app-release.apk
