name: Build Android app

on:
  workflow_call:
    inputs:
      type:
        description: 'What type of build to run. Must be one of ["release", "adhoc", "e2e", "e2eDelta"]'
        type: string
        required: true
      ref:
        description: Git ref to checkout and build
        type: string
        required: true
      artifact-prefix:
        description: 'The prefix for build artifact names. This is useful if you need to call multiple builds from the same workflow'
        type: string
        required: false
        default: ''
      pull_request_number:
        description: The pull request number associated with this build, if relevant.
        type: string
        required: false

    outputs:
      AAB_FILE_NAME:
        description: Name of the AAB file produced by this workflow.
        value: ${{ jobs.build.outputs.AAB_FILE_NAME }}
      APK_FILE_NAME:
        description: Name of the APK file produced by this workflow.
        value: ${{ jobs.build.outputs.APK_FILE_NAME }}
      APK_ARTIFACT_NAME:
        description: Name of the APK artifact.
        value: ${{ jobs.build.outputs.APK_ARTIFACT_NAME }}

  workflow_dispatch:
    inputs:
      type:
        description: What type of build do you want to run?
        required: true
        type: choice
        options:
          - release
          - adhoc
          - e2e
          - e2eDelta
      ref:
        description: Git ref to checkout and build
        required: true
        type: string

      pull_request_number:
        description: The pull request number associated with this build, if relevant.
        type: number
        required: false

jobs:
  build:
    name: Build Android app
    runs-on: ubuntu-latest-xl
    outputs:
      AAB_FILE_NAME: ${{ steps.build.outputs.AAB_FILE_NAME }}
      APK_FILE_NAME: ${{ steps.build.outputs.APK_FILE_NAME }}
      APK_ARTIFACT_NAME: ${{ steps.build.outputs.APK_ARTIFACT_NAME }}

    steps:
      - name: Checkout
        # v4
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608
        with:
          ref: ${{ inputs.ref }}

      - name: Configure MapBox SDK
        run: ./scripts/setup-mapbox-sdk.sh ${{ secrets.MAPBOX_SDK_DOWNLOAD_TOKEN }}

      - name: Setup Node
        uses: ./.github/actions/composite/setupNode

      - name: Get Java version
        id: get-java-version
        uses: ./.github/actions/composite/getJavaVersion

      - name: Setup Java
        # v4
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12
        with:
          distribution: oracle
          java-version: ${{ steps.get-java-version.outputs.version }}

      - name: Setup Gradle
        # v4
        uses: gradle/actions/setup-gradle@06832c7b30a0129d7fb559bcc6e43d26f6374244

      - name: Setup Ruby
        # v1.229.0
        uses: ruby/setup-ruby@354a1ad156761f5ee2b7b13fa8e09943a5e8d252
        with:
          bundler-cache: true

      - name: Setup 1Password CLI and certificates
        uses: Expensify/GitHub-Actions/setup-certificate-1p@main
        with:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          SHOULD_LOAD_SSL_CERTIFICATES: 'false'

      - name: Load files from 1Password
        working-directory: android/app
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
        run: op read "op://${{ vars.OP_VAULT }}/New Expensify my-upload-key.keystore/my-upload-key.keystore" --force --out-file ./my-upload-key.keystore

      - name: Get package version
        id: getPackageVersion
        run: echo "VERSION=$(jq -r .version < package.json)" >> "$GITHUB_OUTPUT"

      - name: Get Android native version
        id: getAndroidVersion
        run: echo "VERSION_CODE=$(grep -o 'versionCode\s\+[0-9]\+' android/app/build.gradle | awk '{ print $2 }')" >> "$GITHUB_OUTPUT"

      - name: Setup DotEnv
        if: ${{ inputs.type != 'release' }}
        run: |
          if [ '${{ inputs.type }}' == 'adhoc' ]; then
            cp .env.staging .env.adhoc
            sed -i 's/ENVIRONMENT=staging/ENVIRONMENT=adhoc/' .env.adhoc
            echo "PULL_REQUEST_NUMBER=${{ inputs.pull_request_number }}" >> .env.adhoc
          else
            envFile=''
            if [ '${{ inputs.type }}' == 'e2e' ]; then
              envFile='tests/e2e/.env.e2e'
            else
              envFile=tests/e2e/.env.e2edelta
            fi
            {
              echo "EXPENSIFY_PARTNER_NAME=${{ secrets.EXPENSIFY_PARTNER_NAME }}"
              echo "EXPENSIFY_PARTNER_PASSWORD=${{ secrets.EXPENSIFY_PARTNER_PASSWORD }}"
              echo "EXPENSIFY_PARTNER_USER_ID=${{ secrets.EXPENSIFY_PARTNER_USER_ID }}"
              echo "EXPENSIFY_PARTNER_USER_SECRET=${{ secrets.EXPENSIFY_PARTNER_USER_SECRET }}"
              echo "EXPENSIFY_PARTNER_PASSWORD_EMAIL=${{ secrets.EXPENSIFY_PARTNER_PASSWORD_EMAIL }}"
            } >> "$envFile"
          fi

      - name: Build Android app (retryable)
        # v3
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08
        id: build
        env:
          MYAPP_UPLOAD_STORE_PASSWORD: ${{ secrets.MYAPP_UPLOAD_STORE_PASSWORD }}
          MYAPP_UPLOAD_KEY_PASSWORD: ${{ secrets.MYAPP_UPLOAD_KEY_PASSWORD }}
        with:
          retry_on: error
          retry_wait_seconds: 60
          timeout_minutes: 60
          max_attempts: 3
          command: |
            lane=''
            case '${{ inputs.type }}' in
              'release')
                lane='build';;
              'adhoc')
                lane='build_adhoc';;
              'e2e')
                lane='build_e2e';;
              'e2eDelta')
                lane='build_e2eDelta';;
            esac
            bundle exec fastlane android "$lane"

            # Refresh environment variables from GITHUB_ENV that are updated when running fastlane
            # shellcheck disable=SC1090
            source "$GITHUB_ENV"

            SHOULD_UPLOAD_SOURCEMAPS='false'
            if [ -f ./android/app/build/generated/sourcemaps/react/productionRelease/index.android.bundle.map ]; then
              SHOULD_UPLOAD_SOURCEMAPS='true'
            fi

            {
              # aabPath and apkPath are environment varibles set within the Fastfile
              echo "AAB_PATH=$aabPath"
              echo "AAB_FILE_NAME=$(basename "$aabPath")"
              echo "APK_PATH=$apkPath"
              echo "APK_FILE_NAME=$(basename "$apkPath")"
              echo "SHOULD_UPLOAD_SOURCEMAPS=$SHOULD_UPLOAD_SOURCEMAPS"
              echo "APK_ARTIFACT_NAME=${{ inputs.artifact-prefix }}android-apk-artifact" >> "$GITHUB_OUTPUT"
            } >> "$GITHUB_OUTPUT"    

      - name: Upload Android AAB artifact
        if: ${{ steps.build.outputs.AAB_PATH != '' }}
        continue-on-error: true
        # v4
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: ${{ inputs.artifact-prefix }}android-aab-artifact
          path: ${{ steps.build.outputs.AAB_PATH }}

      - name: Upload Android APK artifact
        if: ${{ steps.build.outputs.APK_PATH != '' }}
        continue-on-error: true
        # v4
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: ${{ steps.build.outputs.APK_ARTIFACT_NAME }}
          path: ${{ steps.build.outputs.APK_PATH }}

      - name: Upload Android sourcemaps artifact
        if: ${{ steps.build.outputs.SHOULD_UPLOAD_SOURCEMAPS == 'true' }}
        continue-on-error: true
        # v4
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: ${{ inputs.artifact-prefix }}android-sourcemaps-artifact
          path: ./android/app/build/generated/sourcemaps/react/productionRelease/index.android.bundle.map
