name: Check e2e test code builds correctly

on:
  workflow_call:
  pull_request:
    types: [opened, synchronize]
    paths:
      - 'tests/e2e/**'
      - 'src/libs/E2E/**'

jobs:
  lint:
    if: ${{ github.actor != 'OSBotify' || github.event_name == 'workflow_call' }}
    runs-on: blacksmith-2vcpu-ubuntu-2404
    steps:
      - name: Checkout
        # v4
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608

      - name: Setup Node
        uses: ./.github/actions/composite/setupNode

      - name: Verify e2e tests compile correctly
        run: npm run e2e-test-runner-build

