name: Update Deploy Blockers

on:
  issues:
    types:
      - labeled

jobs:
  updateChecklist:
    if: github.event.label.name == 'DeployBlockerCash'
    uses: ./.github/workflows/createDeployChecklist.yml

  deployBlocker:
    if: github.event.label.name == 'DeployBlockerCash'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        # v4
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608

      - name: Give the issue/PR the Hourly, Engineering labels
        run: gh issue edit ${{ github.event.issue.number }} --add-label 'Engineering,Hourly' --remove-label 'Daily,Weekly,Monthly'
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Escape html characters in GH issue title
        env:
          GH_ISSUE_TITLE: ${{ github.event.issue.title }}
        run: |
          escaped_title=$(echo "$GH_ISSUE_TITLE" | sed -e 's/&/\&amp;/g; s/</\&lt;/g; s/>/\&gt;/g; s/"/\&quot;/g; s/'"'"'/\&#039;/g; s/|/\&verbar;/g')
          echo "GH_ISSUE_TITLE=$escaped_title" >> "$GITHUB_ENV"

      - name: Comment on deploy blocker
        run: |
          gh issue comment ${{ github.event.issue.number }} --body "$(cat <<'EOF'
          :wave: Friendly reminder that deploy blockers are time-sensitive â± issues! [Check out the open \`StagingDeployCash\` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release.

          We should ALWAYS prioritize identifying and reverting the pull request that introduced the issue over merging a new pull request that fixes the issue. Fix PRs should only be merged in very special cases, if you're unsure, tag @app-deployers in [#expensify-open-source](https://expensify.enterprise.slack.com/archives/C01GTK53T8Q) for next steps.

          If you post a proposal/raise a PR to fix the issue where a revert is possible, it will be ignored.
          EOF
          )"
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Announce failed workflow in Slack
        if: ${{ failure() }}
        uses: ./.github/actions/composite/announceFailedWorkflowInSlack
        with:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
