name: Update Deploy Blockers

on:
  issues:
    types:
      - labeled

jobs:
  updateChecklist:
    if: github.event.label.name == 'DeployBlockerCash'
    uses: ./.github/workflows/createDeployChecklist.yml

  deployBlocker:
    if: github.event.label.name == 'DeployBlockerCash'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Give the issue/PR the Hourly, Engineering labels
        run: gh issue edit ${{ github.event.issue.number }} --add-label 'Engineering,Hourly' --remove-label 'Daily,Weekly,Monthly'
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Escape html characters in GH issue title
        env:
          GH_ISSUE_TITLE: ${{ github.event.issue.title }}
        run: |
          escaped_title=$(echo "$GH_ISSUE_TITLE" | sed -e 's/&/\&amp;/g; s/</\&lt;/g; s/>/\&gt;/g; s/"/\&quot;/g; s/'"'"'/\&#039;/g; s/|/\&verbar;/g')
          echo "GH_ISSUE_TITLE=$escaped_title" >> "$GITHUB_ENV"

      - name: Comment on deploy blocker
        run: |
          gh issue comment ${{ github.event.issue.number }} --body "$(cat <<'EOF'
          :wave: Friendly reminder that deploy blockers are time-sensitive â± issues! [Check out the open \`StagingDeployCash\` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:

          1. Identify the pull request that introduced this issue and revert it.
          2. Find someone who can quickly fix the issue.
          3. Fix the issue yourself.

          EOF
          )"
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Announce failed workflow in Slack
        if: ${{ failure() }}
        uses: ./.github/actions/composite/announceFailedWorkflowInSlack
        with:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
