name: E2E iOS Tests

on:
  pull_request:
    types: [opened, synchronize]
    branches-ignore: [staging, production]

env:
  DEVELOPER_DIR: /Applications/Xcode_12.3.app/Contents/Developer

jobs:
  test:
    if: github.actor != 'OSBotify'
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.7'

      - name: Install bundler
        run: gem install bundler

      - name: Install gems
        run: bundle install

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}

      - name: Install node packages
        uses: nick-invision/retry@7c68161adf97a48beb850a595b8784ec57a98cbb
        with:
          timeout_minutes: 10
          max_attempts: 5
          command: npm ci

      - name: Install detox
        run: npm install -g detox-cli

      - name: Install cocoapods
        uses: nick-invision/retry@7c68161adf97a48beb850a595b8784ec57a98cbb
        with:
          timeout_minutes: 15
          max_attempts: 3
          command: cd ios && pod install --repo-update

      - name: Install brew depdencies
        run: |
          brew tap wix/brew
          brew install applesimutils

      - name: Build tests
        run: detox build --configuration ios.sim.release

      - name: Run tests
        run: detox test --configuration ios.sim.release --cleanup --debug-synchronization 200 --loglevel trace
