name: imgbot Image Optimization

on: pull_request

permissions:
  pull-requests: write
  # The two permissions below are supposedly needed to allow a pull request to be merged.
  # See https://github.com/cli/cli/discussions/6379
  issues: write
  contents: write

jobs:
  approveAndMerge:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    if: ${{ github.actor == 'imgbot[bot]' }}
    steps:
      - name: Approve imgbot PR
        run: gh pr review --approve "${{ github.event.pull_request.html_url }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Merge imgbot PR
        run: gh pr merge --auto --merge "${{ github.event.pull_request.html_url }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
