name: Lint JavaScript

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]
    branches-ignore: [staging, production]

jobs:
  # Debugging
  isExpensifyEngineer:
    runs-on: ubuntu-latest

    steps:
      - name: Check whether the actor is member of engineering team
        id: checkActor
        uses: tspascoal/get-user-teams-membership@baf2e6adf4c3b897bd65a7e3184305c165aec872
        with:
          GITHUB_TOKEN: ${{ secrets.OS_BOTIFY_TOKEN }}
          username: ${{ github.actor }}
          team: engineering
      - name: Debug engineer
        run: echo "The author is Expensify engineer - ${{ steps.checkActor.outputs.isTeamMember }}"

  # Debugging
  isExpensifyEmployee:
    runs-on: ubuntu-latest

    steps:
      - name: Check whether the actor is member of expensify-expensify team
        id: checkActor
        uses: tspascoal/get-user-teams-membership@baf2e6adf4c3b897bd65a7e3184305c165aec872
        with:
          GITHUB_TOKEN: ${{ secrets.OS_BOTIFY_TOKEN }}
          username: ${{ github.actor }}
      - name: Debug employee
        run: echo "The author is Expensify employee - ${{ steps.checkActor.outputs.teams }}"

  lint:
    if: ${{ github.actor != 'OSBotify' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}

      - name: Install node packages
        uses: nick-invision/retry@7c68161adf97a48beb850a595b8784ec57a98cbb
        with:
          timeout_minutes: 10
          max_attempts: 5
          command: npm ci

      - run: npm run lint
        env:
          CI: true
