name: PR Reviewer Checklist

on: pull_request_review

jobs:
  # Note: PHP specifically looks for the name of this job, "checklist", so if the name of the job is changed,
  # then you also need to go into PHP and update the name of this job in the GH_JOB_NAME_CHECKLIST constant
  checklist:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    if: github.actor != 'OSBotify' && github.actor != 'imgbot[bot]'
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4

      - name: Filter paths
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            should_run:
              - '!docs/**/*.md'
              - '!docs/**/*.csv'
              - '**'

      - name: reviewerChecklist.js
        if: steps.filter.outputs.should_run == 'true'
        uses: ./.github/actions/javascript/reviewerChecklist
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
