name: eslint

# Only lint on branches that aren't related to master and the deploy process
on:
    push:
        branches-ignore:
            - 'master'
            - 'version-bump-*'
        tags-ignore:
            - '*'

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js
              uses: actions/setup-node@v1
            - run: npm install
            - run: npm run test
              env:
                  CI: true
