name: Jest Unit Tests

on:
  workflow_call:
  pull_request:
    types: [opened, synchronize]
    branches-ignore: [staging, production]

jobs:
  jest:
    if: ${{ github.actor != 'OSBotify' || github.event_name == 'workflow_call' }}
    runs-on: ubuntu-latest
    env:
      CI: true
    strategy:
      fail-fast: false
      matrix:
        chunk: [ 1, 2, 3 ]
    name: test (job ${{ fromJSON(matrix.chunk) }})
    steps:
      # This action checks-out the repository, so the workflow can access it.
      - uses: actions/checkout@885641592076c27bfb56c028cd5612cdad63e16d

      - uses: Expensify/App/.github/actions/composite/setupNode@main

      - name: Cache Jest cache
        id: cache-jest-cache
        uses: actions/cache@ac25611caef967612169ab7e95533cf932c32270
        with:
          path: .jest-cache
          key: ${{ runner.os }}-jest

      - name: Jest tests
        run: npx jest --shard=${{ fromJSON(matrix.chunk) }}/3

      - name: Pull Request Tests
        # Pull request related tests will be run in separate runner in parallel.
        if: ${{ fromJSON(matrix.chunk) == fromJSON(env.CHUNKS) }}
        run: tests/unit/getPullRequestsMergedBetweenTest.sh

  shellTests:
    if: ${{ github.actor != 'OSBotify' || github.event_name == 'workflow_call' }}
    runs-on: ubuntu-latest
    name: Run tests written as shell scripts
    steps:
      - uses: actions/checkout@885641592076c27bfb56c028cd5612cdad63e16d

      - name: getPullRequestsMergedBetween
        run: tests/unit/getPullRequestsMergedBetweenTest.sh
