name: Validate Docs Routes File

on:
  pull_request:
    types: [opened, synchronize]
    paths:
      - docs/**

jobs:
  verify:
    if: github.actor != 'OSBotify' && github.actor != 'imgbot[bot]'
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4

      - uses: ./.github/actions/composite/setupNode

      # Verify that no new hubs were created without adding their metadata to _routes.yml
      - name: Validate Docs Routes File
        run: ./.github/scripts/createDocsRoutes.sh
