name: Verify Podfile

on:
  pull_request:
    types: [opened, synchronize]
    branches-ignore: [staging, production]
    paths:
      - ios/**
      - "package.json"
      - "package-lock.json"

jobs:
  verify:
    if: github.actor != 'OSBotify'
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Expensify/App/.github/actions/composite/setupNode@main

      - run: ./.github/scripts/verifyPodfile.sh
