name: Verify Podfile

on:
  pull_request:
    types: [opened, synchronize]
    branches-ignore: [staging, production]
    paths:
      - ios/**
      - "package.json"
      - "package-lock.json"

jobs:
  verify:
    if: github.actor != 'OSBotify'
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: Expensify/App/.github/actions/composite/setupNode@main
      - name: Verify podfile
        run: ./.github/scripts/verifyPodfile.sh
