name: Verify signed commits

on:
  pull_request:
    types: [opened, synchronize]
    branches-ignore: [staging, production]

jobs:
  verifySignedCommits:
    runs-on: blacksmith-2vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4

      - name: Verify signed commits
        uses: ./.github/actions/javascript/verifySignedCommits
        with:
          GITHUB_TOKEN: ${{ github.token }}
